<div class="mx-auto md:w-2/3 w-full">
  <% if alert = flash[:alert] %>
    <p class="py-2 px-3 bg-bg-100 mb-5 text-fg-700 border border-fg-300 font-medium rounded-lg inline-block dark:bg-bg-800 dark:text-fg-300 dark:border-fg-600" id="alert"><%= alert %></p>
  <% end %>

  <h1 class="font-bold text-4xl text-fg-800 dark:text-fg-100">Forgot your password?</h1>

  <%= form_with url: passwords_path, class: "contents" do |form| %>
    <div class="my-5">
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "block shadow-sm rounded-md border border-bg-300 bg-bg-50 text-fg-800 focus:outline-none focus:ring-2 focus:ring-accent-500 focus:border-accent-500 px-3 py-2 mt-2 w-full dark:border-bg-600 dark:bg-bg-700 dark:text-fg-200 dark:placeholder-fg-500" %>
    </div>

    <div class="inline">
      <%= form.submit "Email reset instructions", class: "w-full sm:w-auto text-center rounded-lg px-3.5 py-2.5 bg-accent-500 hover:bg-accent-600 text-bg-50 inline-block font-medium cursor-pointer dark:bg-accent-600 dark:hover:bg-accent-700" %>
    </div>
  <% end %>
</div>
